<!DOCTYPE html>
<html>
<head>
    <title>Iris Flower Classifier</title>
</head>
<body>
    <h2>Enter Flower Measurements</h2>
    <form action="/predict" method="post">
        <input type="text" name="sepal length (cm)" placeholder="Sepal Length"><br><br>
        <input type="text" name="sepal width (cm)" placeholder="Sepal Width"><br><br>
        <input type="text" name="petal length (cm)" placeholder="Petal Length"><br><br>
        <input type="text" name="petal width (cm)" placeholder="Petal Width"><br><br>
        <input type="submit" value="Predict">
    </form>

    {% if prediction_text %}
        <h3>{{ prediction_text }}</h3>
    {% endif %}
</body>
</html>
